*{
	margin: 0;
	padding: 0;
}

.wrapper{
	margin: 0 auto;
	width: 80%;/*We use percentages instead of 1000px so as to allow responsiveness of the webpage.*/
}

video{
	width: 100%;
}

/*These now help us to structure a video embeded from youtube or a server*/
.videowrapper{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0px;
}

.videowrapper iframe{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
}